<div class="row normal-line-after">
	<div class="large-12 align-center pad-tb-big">
		<div class="inline">
			<input type="text" class="input-search" id="js-text-search" placeholder="Вводите текст здесь...">
			<button class="btn btn-yellow" id="js-button-search">Искать</button>
			<div class="block big-line-before">
				<button class="btn btn-black btn-language" id="js-swap-1">Русский</button>
				<button class="btn btn-black btn-language" id="js-swap-lan">
					<icon class="icon">
					→
					</icon>
				</button>
				<button class="btn btn-black btn-language" id="js-swap-2">Казахский</button>
			</div>
		</div>
	</div>
</div>