<div class="row">
	<div class="input-append">
	  <input class="span7 search-input" id="js-search-inp" type="text" placeholder="Например: планета">
	  <button class="btn search-button btn-primary" id="js-search-btn" type="button">
	  	<i class="icon-search"></i>
	  	Поиск
	  </button>
	</div>
</div>