<div class="row page">
	<div class="span9">
		<%= render "search_form" %>
		<div class="row">
			<div class="span8">
				<br>
				<div id="js-text-container">
					<h5 class="bold">Вас приветствует словарь казахско-русского языка Audarme.kz</h5>
					<p id="js-text-container">
						→ Для того чтобы воспользоваться нашим сервисом необходимо ввести какое-либо слово в строку запроса.
						<br>
						→ Наш вервис не учитывает морфологию слов. По­это­му, сло­во, ко­торое Вам не­об­хо­димо пе­ревес­ти, пред­ва­ритель­но не­об­хо­димо пре­об­ра­зовать в нор­маль­ную фор­му, ана­логич­но то­му, как это де­ла­ет­ся при по­ис­ке сло­ва в обыч­ных бу­маж­ных сло­варях.
						<br>
						→ Ре­коме­ду­ем вво­дить сло­во в по­ле «Сло­во» без оши­бок. Впол­не воз­можно, что сло­во, ко­торое Вы ище­те в сло­варе есть, од­на­ко Вы вве­ли его не­вер­но.
					</p>
				</div>
			</div>
			<div class="span8">
				<div class="js-loading none"></div>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="adv none">
		</div>
		<div class="settings">
			<h5>
				<span class="icon-cog"></span>
				Настройки
			</h5>
			<div class="lang-select" id="js-language-select">
				<label class="radio">
				  <input type="radio" name="optionsRadios" id="optionsRadios1" value="ru" checked>
				  С русского на казахский
				</label>
				<label class="radio">
				  <input type="radio" name="optionsRadios" id="optionsRadios2" value="kz">
				  С казахского на русский
				</label>
			</div>

			<label class="checkbox">
			  <input type="checkbox" value="" checked id="js-enable-autocomplete">
			 	Включить автодополнение
			</label>
			<label class="checkbox">
			  <input type="checkbox" value="" id="js-enable-keyboard">
			 	Показать клавиатуру
			</label>

		</div>
	</div>
</div>